<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Stock Candlestick UI</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">

    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/moment@2.30.1/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom@1.2.1/dist/chartjs-plugin-zoom.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment@1.0.1/dist/chartjs-adapter-moment.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/chartjs-chart-financial@0.2.1/dist/chartjs-chart-financial.min.js"></script>
</head>
<body>
    <h1>Stock Candlestick</h1>

    <div id="search-container">
        <input type="text" id="symbol" placeholder="Enter symbol (e.g., AAPL)" />
        <button id="searchBtn">Show Candlestick</button>
    </div>

    <div id="chart-container" style="display: none;">
        <h2>Candlestick Chart</h2>
        <canvas id="candlestick" width="800" height="900"></canvas>
    </div>
    <button id="button"><a href="/treemap">Go to Treemap</a></button>

    <script th:src="@{/js/candlestick.js}"></script>
</body>
</html>